<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="cursor: pointer;" [routerLink]="['/']" >SCIO</span>
    <span class="example-spacer"></span>
    <mat-sidenav-container  class="example-container">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="espacioMenuBoton">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item  [routerLink]="['/negocio/list']">
          <mat-icon>business_center</mat-icon>
          <span>Negocios</span>
        </button>
        <button mat-menu-item  [routerLink]="['/producto/list']" >
          <mat-icon>shopping_basket</mat-icon>
          <span>Productos</span>
        </button>
        <button mat-menu-item [routerLink]="['/usuario/editar/',usuario._id]"  *ngIf="usuario">
          <mat-icon>person</mat-icon>
          <span>{{usuario.usuario}}</span>
        </button>
        <button mat-menu-item [routerLink]="['/logout']"  *ngIf="usuario">
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
        <button mat-menu-item [routerLink]="['/login']"  *ngIf="!usuario">
          <mat-icon>exit_to_app</mat-icon>
          <span>Login </span>
        </button>
        <button mat-menu-item [routerLink]="['/usuario/crear']"  *ngIf="!usuario">
          <mat-icon>exit_to_app</mat-icon>
          <span>Registro </span>
        </button>

      </mat-menu>
    </mat-sidenav-container>
  </mat-toolbar-row>
</mat-toolbar>





