<form [formGroup]="usaurioForm" (ngSubmit)="onSubmit()">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Cambio Contraseña ">
        <div class="example-small-box mat-elevation-z4 flex-wraptect-aling">
          <h2 class="igmmaxwhit">Cambio Contraseña </h2> 
   
      <div class="igmmaxwhit">
        <label>
          <div>Contraseña:</div>
          <span> (*) </span>
          <input type="password" formControlName="password" placeholder="Contraseña">
          <div class="redDanger">
            <span  *ngIf="usaurioForm.controls['password'].hasError('required') && usaurioForm.controls['password'].touched">
              La Contraseña es requerida
            </span>
          </div>
        </label>
      </div>
  
      <div class="igmmaxwhit">
        <label>
          <div>Confirmar Contraseña:</div>
          <span> (*) </span>
          <input type="password" formControlName="password2" placeholder="Contraseña">
          <div class="redDanger">
            <span  *ngIf="usaurioForm.controls['password2'].hasError('required') && usaurioForm.controls['password2'].touched">
              La Contraseña es requerida
            </span>
            <span *ngIf="usaurioForm.controls['password2'].hasError('confirmedValidator') && usaurioForm.controls['password2'].touched">
              Contraseña y confirmar contraseña no son iguales.
            </span>
  
          </div>
        </label>
      </div>
  
  
      <div class="igmmaxwhit grilsClaro">
        <p> (*) Campos Obligatorios </p>
      </div>
    <div class="igmmaxwhit">
      <button mat-raised-button color="primary" type="submit" [disabled]="!usaurioForm.valid" >Guardar</button>
    </div>
    </div>
  </mat-tab>
  </mat-tab-group>
  </form>