<form [formGroup]="usaurioForm" (ngSubmit)="onSubmit()">
  
    <label>
      email:
      <input type="text" formControlName="email">
      <div  *ngIf="usaurioForm.controls['email'].hasError('required') && usaurioForm.controls['email'].touched">
        El email es requerido
      </div>
    </label>
  
    <label>
        password:
      <input type="text" formControlName="password">
    </label>
  
    <label>
        usuario:
      <input type="text" formControlName="usuario">
    </label>
    <button type="submit" [disabled]="!usaurioForm.valid">Submit</button>
</form>
<p>
    Form Status: {{ usaurioForm.status }}
  </p>