<form [formGroup]="usaurioForm" (ngSubmit)="onSubmit()">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Editar Usuario ">
      <div class="example-small-box mat-elevation-z4 ">
        <h2 class="igmmaxwhit">Editar Usuario </h2> 

      <div class="igmmaxwhit">
        <label>
          <div>email:</div>
          <input type="text" formControlName="email">
          <div class="redDanger">
            <span  *ngIf="usaurioForm.controls['email'].hasError('required') && usaurioForm.controls['email'].touched">
              El Email es requerido
            </span>
          </div>
        </label>
      </div>



    <div class="igmmaxwhit">
      <label>
        <div>password:</div>
        <input type="text" formControlName="password">
        <div class="redDanger">
          <span  *ngIf="usaurioForm.controls['password'].hasError('required') && usaurioForm.controls['password'].touched">
            La Contraseña es requerida
          </span>
        </div>
      </label>
    </div>
    <div class="igmmaxwhit">
      <label>
          <div>usuario:</div>
        <input type="text" formControlName="usuario">
        <div class="redDanger">
          <span  *ngIf="usaurioForm.controls['usuario'].hasError('required') && usaurioForm.controls['usuario'].touched">
            El Usuario es requerido
          </span>
        </div>
      </label>
    </div>

  <div class="igmmaxwhit">
    <button type="submit" [disabled]="!usaurioForm.valid">Submit</button>
  </div>
  </div>
</mat-tab>
</mat-tab-group>
</form>