<h1 class="paddingmargin1">Lista de Negocios</h1>
<section class="card-section">
    <mat-card  *ngFor="let negocio of Negocios" class="card">
      <mat-card-header class="paddingmargin1">
        <mat-card-title>{{negocio.nombre}}</mat-card-title>
        <mat-card-subtitle>{{negocio.nombre}}</mat-card-subtitle>
      </mat-card-header>
      <a [routerLink]="['/negocio/detalle',negocio._id]">
        <img mat-card-image src="{{Url}}{{negocio.imagen}} " alt="{{negocio.nombre}}">
      </a>
      <mat-card-content>
        <p>{{negocio.descripcion}}</p>
      </mat-card-content>
      <mat-card-actions>
          <a [routerLink]="['/negocio/detalle',negocio._id]">
              <button mat-button >Detalle</button>
          </a>
          <a [routerLink]="['/negocio/editar',negocio._id]">
            <button mat-button >editar</button>
        </a>
        </mat-card-actions>
      </mat-card>
</section>
  
