<section class="card-section paddingmargin1 backgourdblancoredondo mat-elevation-z4">


    <div class="whit45">
      <h1>Negocios</h1>

      <a [routerLink]="['/negocio/crear']" class="card">
        <button mat-raised-button color="primary"><mat-icon > add</mat-icon> Crear </button>
      </a>
      <a [routerLink]="['/negocio/list/true']" class="card">
        
        <button mat-raised-button color="primary"><mat-icon>list_alt</mat-icon> Mis Negocios</button>
      </a>


    </div>

      <section  class="whit45">
        <mat-paginator [length]="Negocios.length"
        [pageSize]="page_size"
        [pageSizeOptions]="[5, 10, 20,50]"
        (page)="handlePage($event)">
      </mat-paginator>
      </section>



</section>
<section class="card-section" *ngIf="Negocios.length > 0">
    <mat-card  *ngFor="let negocio of Negocios | paginate:page_size:page_number" class="card mat-elevation-z4">
      <mat-card-header class="paddingmargin1">
        <mat-card-title>{{negocio.nombre}}</mat-card-title>
        <mat-card-subtitle>{{negocio.nombre}}</mat-card-subtitle>
      </mat-card-header>
      <a [routerLink]="['/negocio/detalle',negocio._id]">
        <img mat-card-image src="{{Url}}{{negocio.imagen}} " onerror="this.src='/assets/imagenes/noimagen.jpg'" alt="{{negocio.nombre}}">
      </a>
      <mat-card-content>
        <p>{{negocio.descripcion}}</p>
      </mat-card-content>
      <mat-card-actions>
          <a [routerLink]="['/negocio/detalle',negocio._id]">
            <button mat-raised-button color="primary">Detalle</button>
          </a>
          <a *ngIf="misnegocios" [routerLink]="['/negocio/editar',negocio._id]">
            <button mat-raised-button color="warn" >editar</button>
          </a>
        </mat-card-actions>
      </mat-card>
</section>
  