<form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
  
    <label>
       Nombre:
      <input type="text" formControlName="nombre">
      <span  *ngIf="productoForm.controls['nombre'].hasError('required') && productoForm.controls['nombre'].touched">
        El Nombre es requerido
      </span>
    </label>
  
    <label>
        Descripcion:
      <input type="text" formControlName="descripcion">
      <span  *ngIf="productoForm.controls['descripcion'].hasError('required') && productoForm.controls['descripcion'].touched">
        La Descripcion es requerida
      </span>
    </label>
    <label>
      Empresa:
      <select name="negocio" formControlName="negocio">
        <option value="" select>Seleccione una empresa</option>
        <option *ngFor ="let empresa of empresas" value="{{empresa._id}}">{{empresa.nombre}}</option>
      </select>

    <span  *ngIf="productoForm.controls['negocio'].hasError('required') && productoForm.controls['negocio'].touched">
      La Empresa es requerida
    </span>
  </label>
    <label>
        Imagen:
        <input type="file" (change)="onFileChange($event)" />
    </label>
    <img src="{{imagenurl}}">
    <button (click)="addAlias('')"><mat-icon>add</mat-icon></button>
    <div formArrayName="caracteretisticas">  
      <div *ngFor="let caracteretistica of caracteretisticas.controls; let i=index">
        <label>
          Caracteretistica:
          <input type="text" [formControlName]="i">
          <button (click)="clearAlias(i)"><mat-icon>clear</mat-icon></button>        
        </label>
      </div>
    </div>
    <button type="submit" [disabled]="!productoForm.valid">Submit</button>
</form>
<p>
  Form Status: {{ productoForm.status }}
</p>


 