<form [formGroup]="negocioForm" (ngSubmit)="onSubmit()"class="example-small-box mat-elevation-z4 ">
  <h3>Crear Negocio</h3>
  <mat-vertical-stepper linear #stepper>
    <mat-step label="Información General">
        <div class="example-small-box mat-elevation-z4 ">

          <div class="igmmaxwhit">
        <label>
      <div>Nombre:</div>
      <input type="text" formControlName="nombre">
      <div class="redDanger">
        <span  *ngIf="negocioForm.controls['nombre'].hasError('required') && negocioForm.controls['nombre'].touched">
          El Nombre es requerido
        </span>
      </div>
    </label>
    </div>

    <label>
        Descripcion:
      <input type="text" formControlName="descripcion">
      <div class="redDanger">
        <span  *ngIf="negocioForm.controls['descripcion'].hasError('required') && negocioForm.controls['descripcion'].touched">
          La Descripcion es requerida
        </span>
      </div>
    </label>
    </div>
    <button type="button" mat-raised-button color="primary" mat-button matStepperNext>Siguiente</button>
  </mat-step>
    <mat-step label="Información de contacto">
      <div class="example-small-box mat-elevation-z4 ">

        <div class="igmmaxwhit">
      <label>
        <div>Correo:</div>
      <input type="text" formControlName="correo">
      <div class="redDanger">
        <span  *ngIf="negocioForm.controls['correo'].hasError('required') && negocioForm.controls['correo'].touched">
          El correo es requerida
        </span>
      </div>
      </label>
      </div>
      <div class="igmmaxwhit">
        <label>
        <div>Teléfono:</div>
        <input type="text" formControlName="telefono">
        <div class="redDanger">
          <span  *ngIf="negocioForm.controls['telefono'].hasError('required') && negocioForm.controls['telefono'].touched">
          El teléfono es requerida
          </span>
        </div>
        </label>
      </div>
      </div>
      <button type="button" mat-button matStepperPrevious>Atrás</button>
      <button type="button" mat-raised-button color="primary" mat-button matStepperNext>Siguiente</button>
    </mat-step>
    <mat-step label="Información Redes Sociales">
      <div class="example-small-box mat-elevation-z4 ">
        <div class="igmmaxwhit">
          <label>
          <div>Instagram:</div>
          <input type="text" formControlName="instagram">
          <div class="redDanger">
            <span  *ngIf="negocioForm.controls['instagram'].hasError('required') && negocioForm.controls['instagram'].touched">
            El Instagram es requerida
            </span>
          </div>
          </label>
        </div>
        <div class="igmmaxwhit">
          <label>
          <div>Facebook:</div>
          <input type="text" formControlName="facebook">
          <div class="redDanger">
            <span  *ngIf="negocioForm.controls['facebook'].hasError('required') && negocioForm.controls['facebook'].touched">
            El facebook es requerida
            </span>
          </div>
          </label>
        </div>
      </div>
      <div class="example-small-box mat-elevation-z4 ">
        <div class="igmmaxwhit">
          <label>
          <div>Whatsapp:</div>
          <input type="text" formControlName="whatsapp">
          <div class="redDanger">
            <span  *ngIf="negocioForm.controls['whatsapp'].hasError('required') && negocioForm.controls['whatsapp'].touched">
            El whatsapp es requerida
            </span>
          </div>
          </label>
        </div>
        <div class="igmmaxwhit">
          <label>
          <div>twitter:</div>
          <input type="text" formControlName="twitter">
          <div class="redDanger">
            <span  *ngIf="negocioForm.controls['twitter'].hasError('required') && negocioForm.controls['twitter'].touched">
            El twitter es requerida
            </span>
          </div>
          </label>
        </div>
      </div>
      <button type="button" mat-button matStepperPrevious>Atrás</button>
      <button type="button" mat-raised-button color="primary" mat-button matStepperNext>Siguiente</button>
    </mat-step>
    <mat-step label="Imagen">
      <div class="example-small-box mat-elevation-z4 ">
        <div class="igmmaxwhit">
      <label>
          <div>Imagen:</div>
          <input type="file" (change)="onFileChange($event)" />
          <img src="{{imagenurl}}">
      </label>
      </div>
      <div class="igmmaxwhit">
        <button type="button" mat-button matStepperPrevious>Atrás</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!negocioForm.valid">Guardar</button>
        </div>
    </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
